*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 1em;
}
ul{
    display: flex;
}
nav ul li{
    margin: 0 10px;
}
.container{
    display: flex;
}
.containerDiv{
    width:50vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillSet{
    display: flex;
    justify-content: space-between;
    width: 40vw;
}
.skillBar{
    height: 10px;
    width: 100px;
    background-color: red;
}